/*
=============== 
Variables
===============

     '50': '#fef2f4',
     '100': '#fde6e9',
     '200': '#fbd0d9',
     '300': '#f7aab9',
     '400': '#f27a93',
     '500': '#e63f66',
     '600': '#d42a5b',
     '700': '#b21e4b',
     '800': '#951c45',
     '900': '#801b40',
     '950': '#470a1f',
*/

:root {
  /* dark shades of primary color*/
  --clr-primary-1: #1703ad;
  --clr-primary-2: #1a1254;
  --clr-primary-3: #220bb7;
  --clr-primary-4: #220bb7;
  /* primary/main color */
  --clr-primary-5: #d42a5b;
  /* lighter shades of primary color */
  --clr-primary-6: #e63f66;
  --clr-primary-7: #f27a93;
  --clr-primary-8: #f7aab9;
  --clr-primary-9: #bdc8ff;
  --clr-primary-10: #bdc8ff;
  /* darkest grey - used for headings */
  --clr-grey-1: hsl(209, 61%, 16%);
  --clr-grey-2: hsl(211, 39%, 23%);
  --clr-grey-3: hsl(209, 34%, 30%);
  --clr-grey-4: hsl(209, 28%, 39%);
  /* grey used for paragraphs */
  --clr-grey-5: hsl(210, 22%, 49%);
  --clr-grey-6: hsl(209, 23%, 60%);
  --clr-grey-7: hsl(211, 27%, 70%);
  --clr-grey-8: hsl(210, 31%, 80%);
  --clr-grey-9: hsl(212, 33%, 89%);
  --clr-grey-10: hsl(210, 36%, 96%);
  --clr-white: #fff;
  --clr-gold: #c59d5f;

  --clr-red-dark: hsl(360, 67%, 44%);
  --clr-red-light: #08a8cd;
  --clr-green-dark: hsl(125, 67%, 44%);
  --clr-green-light: hsl(125, 71%, 66%);
  --clr-black: #222;
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.25rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
  --max-width: 1170px;
  --fixed-width: 620px;
  --new-transition: all 400ms ease;

  --textColor: var(--grey-900);
  --borderRadius: 0.25rem;
  --borderRadius2: 0.5rem;
  --letterSpacing: 1px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;

  /* box shadow*/
  --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
  --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
  --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}